input[type="file"] {
    width: 100%;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 17px;
    padding: 13px 12px;
    margin: 5px 0;
    background: rgba(255, 255, 255, 0.1);
    outline: none;
    display: inline-block;
    cursor: pointer;
}

input[type=file]::file-selector-button {
    background: none;
    margin-right: 20px;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

label {
    position: absolute;
    right: 0;
    margin: 21px;
}
